<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ComputerBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://taskmanager.zwiazek.net/soap/Taskmanager/computer"
                binding="basicHttpBinding" bindingConfiguration="ComputerBinding"
                contract="ServiceReference1.ComputerPort" name="ComputerPort" />
        </client>
    </system.serviceModel>
</configuration>